Redirection fatal for http -> https

meatinspector currently fails if there is an http to https redirection due to an issue with open URI. http://redmine.ruby-lang.org/issues/3719

An example to reproduce
ruby-1.9.2-p136 :001 > page = MetaInspector.new('http://wepay.com')
 => #<MetaInspector::Scraper:0x000001043c00c8 @address="http://wepay.com", @links=nil, @image=nil, @keywords=nil, @description=nil, @title=nil, @document=nil> 
ruby-1.9.2-p136 :002 > page.title
An exception occurred while trying to fetch the page!
ruby-1.9.2-p136 :003 > open(page.address).read
RuntimeError: redirection forbidden: http://wepay.com -> https://www.wepay.com/
    from /Users/rromanchuk/.rvm/rubies/ruby-1.9.2-p136/lib/ruby/1.9.1/open-uri.rb:216:in `open_loop'

I was able to fix this by patching the regular expression in def OpenURI.redirectable? to include https. It's a pretty annoying/subtle bug so I thought it was worth reporting. 

module OpenURI
  def OpenURI.redirectable?(uri1, uri2) # :nodoc:
    # This test is intended to forbid a redirection from http://... to
    # file:///etc/passwd.
    # https to http redirect is also forbidden intentionally.
    # It avoids sending secure cookie or referer by non-secure HTTP protocol.
    # (RFC 2109 4.3.1, RFC 2965 3.3, RFC 2616 15.1.3)
    # However this is ad hoc.  It should be extensible/configurable.
    uri1.scheme.downcase == uri2.scheme.downcase ||
    (/\A(?:http|https|ftp)\z/i =~ uri1.scheme && /\A(?:http|https|ftp)\z/i =~ uri2.scheme)
  end
end
